body{
	padding:0;
	margin:0;
	background: #222930;
	color:#E9E9E9;
}
input{
	border: none;
	font-family: 'Press Start 2P', cursive;
	border-bottom: 2px solid #E9E9E9; 
	background: #2c3640;
	transition: 0.3;
	cursor: pointer;
	color: #E9E9E9;
}
input:focus{
	border-bottom: 3px solid #4EB1BA;
	color: #4EB1BA;
}
.admin-panel button{
	height: 50px;
	margin-bottom: 10px;
}
.add, .title{
	border: 1px solid white;
	height: auto;
	padding: 10px;
	margin-bottom: 10px;
}
p{
	margin:0;
	padding: 0;
	text-align: center;
	font-size: 26px;
	font-family: 'Yeseva One', cursive;
}
button{
	border-radius:3px;
	background: #4EB1BA;
	font-family: 'Yeseva One';
	font-size: 20px;
	border: none;
	color:white;
	cursor: pointer;;
}
div{
	
}
.wrapper{
	padding: 10px;
	width: auto;
	height: auto;
	max-width: 1310px;
	margin: 20px auto;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;

}
.admin-panel, .content{
	margin-right:20px;
	height: auto;
	padding: 10px;
	box-sizing: border-box;
}
.admin-panel{
	width: 300px;
	
}
.content{
	width: 600px;


}
 input{
	display: block;
	
	width: 100%;
	height: 30px;
	
	margin: 0 auto;
	padding: 5px;
	
	margin-bottom: 10px;
}
button{
	display: block;
	width: 100%;
	margin:0 auto;
}
.twoSt{
	width: 80px;
}
.thrSt{
	width: 40px;
}
.frm{
	display: flex;
	padding-top: 10px;
	flex-direction: row;
	flex-wrap:wrap;
}
.search{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
}
.srch{
	margin:0;
	width: 500px;
}
.search button{
	width: 60px;
	padding: 0px;
	background: none;
	border-radius: 0;
	border: 2px solid #E9E9E9;
	transition: 0.3s;
	margin: 0;
}
.search button:hover{
	background: #E9E9E9;
}
.search input:nth-child(4){
	margin-right: 20px;
}
.search .thrSt{
	margin:10px 0;
}
.info{
	margin: 0;
	padding: 0;
}
.info > ul > li {
	border-left: 2px solid #E9E9E9;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
li{
	margin: 10px 0;
	padding: 5px 10px;
	transition: 0.3s;
}
li:hover{

}

.hide{
	display:none;
}
span{
	cursor: pointer;
}
.content2{
	display: block;
	width:320px;
	padding: 10px;
}
.content2 .search{
	display: flex;
}
.title{
	width: 100%;
}
.content2 .search button{
	width: 100%;
	padding: 10px;
	margin: 0;
}
.modifBlock{
	width: 300px;
	height: auto;
	margin-top: 20px;
	display: flex;

}